In [1]:
using CSV, FileIO, DataFrames, Dates
using Plots, StatsPlots

In [2]:
region="italy"
catalog="ingv"
mkpath("./results/$region/")

"./results/italy"

In [3]:
df = CSV.read("./catalogs/$catalog.csv", DataFrame);

In [4]:
# Using describe function to get statistics of a dataset
describe(df)

6×7 DataFrame
 Row │ variable        mean     min                      median                ⋯
     │ Symbol          Union…   Any                      Any                   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Datetime                 1985-01-02T18:39:30.740  2015-05-11T22:01:58.2 ⋯
   2 │ Latitude        42.2295  -69.757                  42.8268
   3 │ Longitude       13.3849  -179.99                  13.1407
   4 │ Depth           12.8846  0.0                      10.0
   5 │ Magnitude_Type           M                                              ⋯
   6 │ Magnitude       1.58785  0.1                      1.4
                                                               4 columns omitted

In [5]:
italy = df[(df.Longitude .>= 6.6166 ) .& (df.Longitude .<= 18.5166) .&
				  (df.Latitude .>=35.5) .& (df.Latitude .<= 47.0833) ,:]

410234×6 DataFrame
    Row │ Datetime                 Latitude  Longitude  Depth    Magnitude_Typ ⋯
        │ DateTime                 Float64   Float64    Float64  String7       ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │ 1985-01-02T22:57:43.090   41.715     13.941       5.8  Md            ⋯
      2 │ 1985-01-03T00:46:16.990   41.677     13.931       6.1  Md
      3 │ 1985-01-04T16:57:40.240   46.158      7.174      10.0  M
      4 │ 1985-01-04T23:59:54.820   45.338      6.641       5.0  M
      5 │ 1985-01-05T03:47:03.640   45.409      6.627      10.0  M             ⋯
      6 │ 1985-01-05T08:32:41.900   43.056     13.139       2.8  Md
      7 │ 1985-01-05T10:13:26.800   45.15       7.86       20.8  Md
      8 │ 1985-01-06T03:52:23.380   43.357     12.537      10.0  Md
   ⋮    │            ⋮                ⋮          ⋮         ⋮           ⋮       ⋱
 410228 │ 2023-03-08T07:54:45.340   43.0613    13.0392     13.0  ML            ⋯
 410229 │ 2023-03-08T08:20:22.930   43.4422    12.6015     12.6  ML
 410230 │ 2023-03-08T08:46:53.790   38.4702    15.5272     87.1  ML
 410231 │ 2023-03-08T09:20:47.440   42.8243    13.077       9.3  ML
 410232 │ 2023-03-08T09:56:34.020   43.3767    12.4933      7.3  ML            ⋯
 410233 │ 2023-03-08T10:29:59.120   42.8848    12.959      10.7  ML
 410234 │ 2023-03-08T11:05:17.900   43.0067    12.8682      5.0  ML
                                               2 columns and 410219 rows omitted

In [8]:
# Using describe function to get statistics of a dataset
describe(italy)

6×7 DataFrame
 Row │ variable        mean     min                      median                ⋯
     │ Symbol          Union…   Any                      Any                   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Datetime                 1985-01-02T22:57:43.090  2015-06-26T06:06:24.6 ⋯
   2 │ Latitude        42.4672  35.501                   42.8325
   3 │ Longitude       13.1058  6.6168                   13.1372
   4 │ Depth           12.5025  0.0                      10.0
   5 │ Magnitude_Type           M                                              ⋯
   6 │ Magnitude       1.53748  0.1                      1.4
                                                               4 columns omitted

In [7]:
# Make directory if it does not exist
mkpath("./data/")

# Write to CSV
CSV.write("./data/$region.csv", italy)

"./data/italy.csv"